<li><%= link_to 'Docs Upload', pdfviews_path %></li>
<li><%= link_to 'Add New Links', links_path %></li>
<li><a href="# Contacts">Add Contacts</a></li>
<li><%= link_to 'VM Managment', vms_path %></li>