		<li><%= link_to "CQ", "https://cognoscq.ottawa.ibm.com/cqweb/", target: "_blank" %></li>
		<li><%= link_to "Build Component List", "http://9.119.129.85:8080/cmplst.html", target: "_blank" %></li>
		<li><%= link_to "IBM Sofware Download Page", "http://w3-103.ibm.com/software/xl/download/ticket.do", target: "_blank" %></li>