<footer class="footer">
	<small>
		<a href="http://rubyonrails.org/">Ruby On Rails</a>
		by Wu Yi Qin
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 'http://shane51-blog.logdown.com', target: "_blank" %></li>
			<li><%= link_to "Help", '#' %></li>
		</ul>
	</nav>

</footer>